@charset "UTF-8";

/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BASE
========================= */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
}

html{
scroll-behavior: smooth;
}

a {
    text-decoration: none;
    transition: 0.3s ease;
}

/* =========================
   HERO
========================= */
.hero-header {
    position: relative;
    height: 100vh;
    background:
    linear-gradient(to right, rgba(0,0,0,0.95) 40%, rgba(0,0,0,0.2)),
    url('../imagens/foto-tempo.png') center/cover no-repeat;

    display: flex;
    align-items: center;
}

/* Overlay opcional */
.overlay {
    position: absolute;
    inset: 0;
}

/* TOPO ESQUERDO (LOGO + MENU) */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    z-index: 1000;
    padding: 20px 60px;


    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(5px);
    
}

/* Marca */
.brand {
    font-size: 25px;
    letter-spacing: 3px;
    color: #fff;
}

/* NAV */
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;
    position: relative;
}

/* Linha animada */
nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #c59d5f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s ease;
}

nav a:hover {
    color: #c59d5f;
}

nav a:hover::after {
    width: 100%;
}

/* HERO CONTENT */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 520px;
    margin-left: 60px;
}

.experience {
    font-size: 29px;
    color: #c59c5fd0;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.description {
    font-size: 17px;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 35px;
}

/* BOTÃO HERO */
.btn-hero {
    display: inline-block;
    padding: 14px 35px;
    border: 1px solid #c59d5f;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-hero:hover {
    background-color: #c59d5f;
    color: #000;
}

#agendamento{
scroll-margin-top:120px;
}

/* =========================
   SERVIÇOS
========================= */
#servicos {
    padding: 100px 60px;
    text-align: center;
    background-color: #1a1a1a;
}

#servicos h2 {
    font-size: 36px;
    margin-bottom: 60px;
    color: #c59d5f;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #000;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease;
}

.card img {
    width: 100%;
    display: block;
    transition: 0.4s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.info {
    padding: 20px;
}

.info h3 {
    margin-bottom: 10px;
}

.info p {
    color: #c59d5f;
    font-weight: bold;
}


/* SOBRE */

.sobre{
    padding: 60px;
}

.sobre h2{
    text-align: center;
    margin-bottom: 40px;
}

.container-sobre{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.imagem img{
    width: 400px;
    border-radius: 10px;
}

.texto{
    max-width: 400px;
}

.texto button{
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #c9a35c;
    background: transparent;
    color: #c9a35c;
    cursor: pointer;
}

/* CONTATO */

.contato{
    padding: 60px;
}

.contato h2{
    text-align: center;
    margin-bottom: 40px;
}

.container-contato{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info p{
    font-size: 20px;
    margin: 10px 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input,
.formulario textarea{
    padding: 10px;
    width: 250px;
    background: #1a1a1a;
    border: 1px solid #333;
    color: white;
    font-size: 20px;
}

.formulario button{
    padding: 10px;
    background: #c9a35c;
    border: none;
    cursor: pointer;
}

/* =========================
   RESPONSIVO
========================= */
@media (max-width: 768px) {

    .top-bar {
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        left: 0;
        top: 0;
        padding: 20px;
    }

    .brand {
        font-size: 28px;
        text-align: center;
    }

    /* Menu */
    nav {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    nav a {
        font-size: 16px;
    }
    /* Hero Texto */
    .hero-content {
        margin: 120px auto 40px auto;
        text-align: center;
        padding: 0 20px;
    }

    .hero-header {
    height: auto;
    padding-bottom: 60px;
    }

    .experience {
        font-size: 18px;
    }

    .description {
        font-size: 15px;
    }
    /* Serviços */
    #servicos {
        padding: 60px 20px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 320px;
    }

    /* Sobre */

    .container-sobre {
        flex-direction: column;
        text-align: center;
    }

    .imagem img {
        width: 100%;
        max-width: 300px;
    }

    /* Contato */
    .container-contato{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .formulario input,
    .formulario textarea {
        width: 100%;
        max-width: 300px;
    }
}